.error {
    color: red;
    display: none;
}
body {
  background-color: lightgreen;
}
.image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
